<!DOCTYPE html>
<html>
    <head>
        <?frag fragments/common-ref.html?>
        <title>Website Title</title>
    </head>
    <body>
        <div class="wrapper">
            <?frag fragments/header.html?>
            <div class="center">
                <div class="main-content shadowed-lite">
                    <?var digests?>
                    <div class="pagination central">
                        <?frag fragments/pagination.html?>
                    </div>
                </div>
                <div class="push"></div>
            </div>
        </div>
        <?frag fragments/footer.html?>
    </body>
</html>
